table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.main-container{
  margin: 0 10%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.table-container{
  margin: 100px;
}

.btn-div{
width: 100%;
max-width: 100%;
display: block;
height: 8vh;
}

.ico{
  margin-right: 5px;
}

.add-btn{
  color: white;
  float: right;
  margin: 20px 0;
  background-color: #397285;
  /* height: 40px !important; */
}
